<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="camera_frame">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>


<joint name="camera_joint" type="fixed">
    <origin xyz="0.07 0.0 0.18" rpy="0.0 0.0 0.0"/>
    <parent link="chassis_link"/>
    <child link="camera_frame" />
</joint>

<joint name="camera_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    <parent link="camera_frame"/>
    <child link="camera_frame_optical" />
</joint>

<link name="camera_frame_optical"></link>


<!-- Lidar Plugin -->
    <gazebo reference="camera_frame">
        <material>Gazebo/Black</material>

        <sensor name="camera" type="depth">
            <pose> 0 0 0 0 0 0 </pose> 
            <visualize>true</visualize> 
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_frame_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100.0</max_depth>
        
             </plugin>
        </sensor>
    </gazebo>
</robot>